@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@media (min-width: 768px) {

    html {
        scroll-behavior: smooth;
        background-color: black;
    }

    /* div2 */

    .div2 img {
        width: 100%;
        display: flex;
        object-fit: cover;
        margin: 0 auto;
    }

    /* div2 */

}